@font-face {
    font-family: LobsterTwo-Bold;
    src: url(../fonts/LobsterTwo-Bold.ttf);
}

body{
    background: #fafafa;
}

h1,h2,figure{
    text-align: center;
}


footer{
    height: 100px;
    background: #14171a;
    color: white;
}

footer p{
    text-align: center;
}

#logo img{
    width: 90%;  
}

/* estilos para el slider. */


#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }

/* fin estilo slider */

a#bienvenido:hover{
    background: none;
}

div ol.breadcrumb{
    background: none;
}

div ol.breadcrumb li.active{
    font-weight: bold;
    color: darkslateblue;
}

/* Panel de control */

nav#panel-control{
    background: white;
    border-radius: 5px;
    border: solid 1px black;
}

nav#panel-control ul li{
    border-bottom: solid 1px gray;
}

nav#panel-control ul li.ultimo{
    border-bottom: none;
}

nav#panel-control h3{
    padding: 10px 0px;
    background: #aaaaaa;
    color: white;
    text-align: center;
    border-radius: 5px;
}

form#datos-user div.panel-footer{
    background: none;
    text-align: center;
}

div.alert{
    text-align: center;
}


/*Productos */

div.producto{
    height: 350px;
}


div.thumbnail img{
    height: 150px;
    width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.thumbnail h3.precio{
    color: rgb(255,100,100);
    margin: 5px auto;
}

div.btn-carrito{
    margin: 0px auto;
}

p.btn-carrito{
    visibility: hidden;
}

article.producto h2{
    text-align: left;
    border-bottom: solid 2px rgb(200,200,200);
}

div.thumbnail a{
    text-decoration: none;
}

h4.deno{
    font-size: 11pt;
}

/* SLIDER */
.menu-slider li a{
    height: 60px;
}

.estrella{
    color: gold;
}

article.producto{
    background: rgb(255,255,255);
    margin-bottom: 10px;
    border-radius: 5px;
}

h3.precioProducto{
    font-size: 3em;
    color: rgb(255,100,100);
}


ul.dropdown-menu{
    width: 800px; 
}

ul.dropdown-menu li{
    width: 180px;
    display: inline-block;
}

/* FILTROS */

#filtros{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Panel de busqueda */
#busqueda div.panel{
    position: absolute;
    z-index: 9;
    text-align: left;
}

#panelBuscar{
    visibility: hidden;
    opacity: 0.95;
}

#listaBuscar{
    padding: 0px 10px;
}

#listaBuscar tr{
    padding-bottom: 10px;
    border-bottom: dotted 1px black;
    list-style: none;
}

#listaBuscar td{
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}

#listaBuscar tr:hover{
    background: rgb(255,100,100);
    color: white;
}


#listaBuscar a{
    display: block;
    height: 100%;
    padding-top: 10px;
}

#listaBuscar a:hover{
    color: white;
    text-decoration: none !important;
}


#listaBuscar tr img{
    height: 75px;
    width: 75px;
}

table#opcionSlider{
    background: white !important;
}

table#listaBuscar td.nombre{
    padding-left: 5px;
}

/* Carrito y navegador */
#carrito{
    font-size: 30pt;
    color: black;
    padding: 20px;
    border-radius: 20px;
}

span#numCarrito{
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 14pt;
    background: #d34615;
    color: white;
    border-radius: 50px;
}

#tabla-carrito th{
    background: #d34615;
    color: rgb(253,253,253);
    text-align: center;
}

#tabla-carrito td{
    vertical-align: center;
}

#resul-carrito{
    background: rgba(25,25,50,0.8);
    color: #fcfcfc;
}

#panel-carrito h2, #panel-carrito h3{
    text-align: center;
}


/* Footer */

footer div ul{
    margin-top: 20px;
}

footer div ul li{
    list-style: none;
}

panel{
    box-shadow: 10px 10px 5px gray;
}