@font-face {
    font-family: LobsterTwo-Bold;
    src: url(../fonts/LobsterTwo-Bold.ttf);
}

body{
    background: #fafafa;
}

h1,h2,figure{
    text-align: center;
}


footer{
    height: 100px;
    background: #14171a;
    color: white;
}

footer p{
    text-align: center;
}

#logo img{
    width: 90%;  
}

/* estilos para el slider. */


#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }

/* fin estilo slider */

a#bienvenido:hover{
    background: none;
}

div ol.breadcrumb{
    background: none;
}

div ol.breadcrumb li.active{
    font-weight: bold;
    color: darkslateblue;
}

/* Panel de control */

nav#panel-control{
    background: white;
    border-radius: 5px;
    border: solid 1px black;
}

nav#panel-control ul li{
    border-bottom: solid 1px gray;
}

nav#panel-control ul li.ultimo{
    border-bottom: none;
}

nav#panel-control h3{
    padding: 10px 0px;
    background: #aaaaaa;
    color: white;
    text-align: center;
    border-radius: 5px;
}

form#datos-user div.panel-footer{
    background: none;
    text-align: center;
}